blockquote:before, blockquote:after {
    font-size: 3em;
    color: #800;

}

blockquote:before {
content: '«';
float: left;
}

blockquote:after {
    content: '»';
    float: right;
    margin-top: -60px;
}

p {
    margin: 1em 3em;
}