div {
    width: 70px; 
    height: 70px;
    display: inline-block;
    margin-right: 5px;
}
div:hover {
    background: #ff9f19;
}

.black-square {
    background: #000000;
}

.blue-square {
    background: #009abf;
}